.hamburger {
  display: none;
  font-size: var(--fs-300);
}

@media (max-width: 1020px) {
  .hamburger {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .hamburger {
    font-size: 18px;
  }
}
