.advantages {
  width: 100%;
  padding: var(--space-fluid-500) var(--space-400);
}

.advantageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--space-400) 0;
}

.icon {
  background-color: var(--color-surface-soft);
  color: var(--color-primary);
  margin-bottom: var(--space-500);
  padding: var(--space-400);
  border-radius: 50%;
}

.title {
  font-family: var(--font-heading);
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  line-height: var(--lh-200);
  letter-spacing: var(--ls-200);
  text-transform: uppercase;
  color: var(--color-primary);
  word-break: break-word;
}

@media (max-width: 320px) {
  .advantages {
    padding: var(--space-fluid-500) 0;
  }

  .title {
    font-size: var(--fs-100);
    letter-spacing: var(--ls-100);
  }
}
