.topRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-400) 0;
}

:global(.ant-card .ant-card-cover > *) {
  border-radius: 0;
}

:global(.ant-card .ant-card-body) {
  padding: 0;
}

:global(.ant-card .ant-card-meta-title) {
  font-family: var(--font-heading);
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  letter-spacing: var(--ls-200);
  color: var(--color-text);
  cursor: pointer;
}

:global(.ant-card .ant-card-meta-description) {
  font-family: var(--font-body);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  letter-spacing: var(--ls-100);
  line-height: var(--lh-200);
  text-align: center;
  color: var(--color-text);
  margin: var(--space-400) 0 var(--space-200);
}

.price {
  font-family: var(--font-heading);
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  letter-spacing: var(--ls-200);
  line-height: var(--lh-200);
  color: var(--color-secondary);
}
