.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1000;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  padding: var(--space-fluid-200) 0;
}

.topBar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.topLeft,
.topRight {
  display: flex;
  gap: var(--space-fluid-200);
}

.topLeft {
  justify-content: flex-start;
}

.topRight {
  justify-content: flex-end;
}

.topCenter {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.header .menuText,
.header .searchText {
  font-size: var(--fs-100);
}

@media (max-width: 768px) {
  .userIcon {
    display: none;
  }
}

@media (max-width: 480px) {
  .topLeft,
  .topRight {
    gap: var(--space-300);
  }

  .topCenter {
    padding: 0 10px;
  }
}
