.footerMobile {
  padding: 40px 0;
  border-bottom: 1px solid var(--color-line-dark);
}

.footerMobile :global(.ant-collapse-header) {
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  letter-spacing: var(--ls-200);
  padding: 20px 0 !important;
}

.subItem {
  padding: var(--space-300) 0 !important;
}

.subLink {
  display: inline-block;
  font-family: var(--font-heading);
  font-weight: var(--fw-500);
  font-size: var(--fs-100);
  text-transform: uppercase;
  letter-spacing: var(--ls-200);
  transition: var(--t-interactive);
}

.subLink,
.subLink:visited,
.subLink:focus,
.subLink:focus-visible {
  color: var(--color-primary) !important;
  opacity: 1;
}

.subLink:active {
  color: var(--color-primary) !important;
  opacity: var(--hover-opacity);
}

@media (min-width: 768px) {
  .footerMobile {
    padding: 0;
    border-bottom: none;
    display: none;
  }
}

@media (hover: hover) {
  .subLink:hover {
    opacity: var(--hover-opacity);
    color: var(--color-primary) !important;
  }
}
