.cartIcon {
  font-size: var(--fs-300);
  cursor: pointer;
  transition: color 0.3s ease;
}

.cartIcon {
  color: var(--color-text);
  background-color: none;
}

.cartIcon:hover {
  color: var(--color-hover-link);
}
