.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  font-family: var(--font-accent);
  font-size: var(--fs-400);
  font-weight: 500;
  letter-spacing: 4px;
  cursor: pointer;
  color: var(--color-hover-link);
}

@media (max-width: 480px) {
  .logoContainer {
    gap: 2px;
  }

  .logoText {
    font-size: var(--fs-200);
    letter-spacing: 0.1px;
  }
}
