.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--text-large);
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-hover-link);
}

.logo {
  height: 30px;
  width: auto;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .logoContainer {
    gap: 2px;
  }

  .logoText {
    font-size: var(--text-regular);
    letter-spacing: 0.1px;
  }

  .logo {
    height: 20px;
  }
}
