.cardContent {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 0;
}

.center {
  align-items: center;
  text-align: center;
}

.left {
  align-items: flex-start;
  text-align: left;
}

.right {
  align-items: flex-end;
  text-align: right;
}

.title {
  font-family: var(--font-heading);
  font-weight: var(--fw-500);
  font-size: var(--fs-400);
  letter-spacing: var(--ls-300);
  line-height: var(--lh-100);
  color: var(--color-primary);
  text-transform: uppercase;
}

.description {
  font-family: var(--font-body);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  color: var(--color-primary);
  letter-spacing: var(--ls-100);
  line-height: var(--lh-200);
  padding: var(--space-400) 0 var(--space-200);
  overflow-wrap: anywhere;
  word-break: break-word;
}
