.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-500) 0;
}

.image {
  transition: transform var(--t-image) var(--ease-cinematic);
}

.image.zoomed {
  transform: scale(1.1);
}

.contentWrapper :global(.line-flow) {
  --underline-color: var(--color-secondary);
  --ease-gentle: var(--ease-reveal);
  --underline-height: 0.094rem;
}
