.collections {
  padding: var(--space-section) 0;
}

.collections .contentTitle {
  font-size: var(--fs-400);
}

.ratio {
  --card-aspect-ratio: 4 / 5;
}

.content {
  padding: 30px 0 30px;
}

.collections .desc {
  padding: var(--space-400) 0 var(--space-400);
}

@media (max-width: 320px) {
  .desc {
    font-size: var(--fs-200);
  }
}
