.categories {
  width: 100%;
  padding: var(--space-section) 0;
}

.categoryList {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 16px;
}

.categoryList > * {
  max-width: 100%;
}

.categoryList .categoryContent {
  padding: 16px 0 24px;
}

.cardTitle {
  text-transform: uppercase;
}
