.categories {
  width: 100%;
  padding: var(--space-section) 0;
}

.categoryList {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--space-400);
}

.categoryList > * {
  max-width: 100%;
}

.categoryList .categoryContent {
  padding: var(--space-400) 0 var(--space-500);
}

.cardTitle {
  text-transform: uppercase;
}
